@{
  ViewData["Title"] = "Chi tiết";
  var nhanVien = ViewData["nhanVien"] as NhanVien;
  var boPhan = ViewData["boPhan"] as BoPhan;
  var trangThai = ViewData["trangThai"] as TrangThaiNhanVien;
  var chucVu = ViewData["chucVu"] as ChucVu;
}

@* ************** Content ************** *@
<!-- Basic Layout -->
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-fullname">Họ và tên</label>
            <div class="input-group input-group-merge">
              <input type="text" class="form-control" id="basic-icon-default-fullname" value="@nhanVien.TenNhanVien"
                aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" readonly/>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Chức vụ</label>
            <div class="input-group input-group-merge">
              <input type="text" id="basic-icon-default-company" class="form-control" value="@(chucVu?.ChucVu1 ?? "")"
                aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" readonly />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Bộ phận</label>
            <div class="input-group input-group-merge">
              <input type="text" id="basic-icon-default-boPhan" class="form-control" value="@(boPhan != null ? boPhan.TenBoPhan : "")"
                aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" readonly />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Trạng thái</label>
            <div class="input-group input-group-merge">
              <input type="text" id="basic-icon-default-status" class="form-control" value="@(trangThai != null ? trangThai.TrangThai : "")"
                aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" readonly />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-email">Email</label>
            <div class="input-group input-group-merge">
              <input type="text" id="basic-icon-default-email" class="form-control" value="@nhanVien.Email"
                aria-label="john.doe" aria-describedby="basic-icon-default-email2" readonly/>
            </div>
            <div class="form-text"> You can use letters, numbers & periods </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-phone">Số điện thoại</label>
            <div class="input-group input-group-merge">
              <input type="text" id="basic-icon-default-phone" class="form-control phone-mask"
                value="@nhanVien.Phone" aria-label="658 799 8941" aria-describedby="basic-icon-default-phone2" readonly/>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-message">CCCD/CMND</label>
            <div class="input-group input-group-merge">
              <input type="text" id="basic-icon-default-cccd" class="form-control phone-mask"
                value="@nhanVien.Cccd" aria-label="658 799 8941" aria-describedby="basic-icon-default-phone2" readonly/>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-message">Địa chỉ</label>
            <div class="input-group input-group-merge">
              <input type="text" id="basic-icon-default-address" class="form-control phone-mask"
                value="@nhanVien.Address" aria-label="658 799 8941" aria-describedby="basic-icon-default-phone2" readonly/>
            </div>
          </div>
          <button id="editBtn" type="button" class="btn btn-primary" data-id="@nhanVien.MaNhanVien">Edit</button>
          <button id="saveBtn" type="submit" asp-action="Index" class="btn btn-primary">Back</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('editBtn').addEventListener('click', function(event) {
    var idNhanVien = this.getAttribute('data-id');
    console.log(idNhanVien);
    // Chuyển hướng đến trang "Edit" và gửi thêm tham số idNhanVien
    window.location.href = '/NhanVien/Edit?id=' + idNhanVien;
  });
</script>
