@model object
@{
  ViewData["Title"] = "Chi tiết";
  var stt = 0;
}


@* ************** Content ************** *@
<!-- Basic Layout -->
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <h5 class="card-header">Chi tiết kho</h5>
      <div class="card-body">
        @if (Model is List<ViewChiTietKho>)
        {
          var modelList = Model as List<ViewChiTietKho>;
          <form asp-action="/Kho/EditChiTietKho" method="POST">
            @* <div class="mb-3">
              <label class="form-label" for="basic-icon-default-fullname">Tên kho</label>
              <div class="input-group input-group-merge">
                <input type="text" class="form-control" id="basic-icon-default-fullname"
                  aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" asp-for="@modelList[0].TenKho"/>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="basic-icon-default-company">Địa chỉ</label>
              <div class="input-group input-group-merge">
                <input type="text" id="basic-icon-default-company" class="form-control"
                  aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" asp-for="@modelList[0].DiaChi" />
              </div>
            </div> *@
            <div class="card">
              <h5 class="card-header">Danh sách trái cây đang chứa</h5>
              <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th>Tên trái cây</th>
                      <th>Số lượng</th>
                      <th>Đơn vị tính</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    @foreach (var chiTietKho in modelList)
                    {
                      <tr data-id="@chiTietKho.MaChiTietKho">
                        <input type="hidden" asp-for="@chiTietKho.ViewPrimaryKey">
                        <input type="hidden" asp-for="@chiTietKho.MaChiTietKho">
                        <input type="hidden" asp-for="@chiTietKho.TenKho">
                        <input type="hidden" asp-for="@chiTietKho.DiaChi">
                        <input type="hidden" asp-for="@chiTietKho.TenTraiCay">
                        <input type="hidden" asp-for="@chiTietKho.DonViTinh">
                        <input type="hidden" asp-for="@chiTietKho.MaKho">
                        <td>@(++stt)</td>
                        <td>
                          <select class="form-select" id="tentraicay" asp-for="@chiTietKho.MaTraiCay" asp-items="@(ViewData["lstTraiCay"] as SelectList)">
                          </select>
                        </td>
                        <td>
                          <input class="edit-mode form-control" type="number" asp-for="@chiTietKho.SoLuong">
                        </td>
                        <td>
                          <select class="form-select" id="donvitinh" asp-for="@chiTietKho.IdDonViTinh" asp-items="@(ViewData["lstDonViTinh"] as SelectList)">
                          </select>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
            <div style="margin-bottom: 20px;"></div>
            <button id="saveBtn" type="submit" class="btn btn-primary" >Lưu</button>
            <button id="backBtn" type="submit" asp-action="Index" class="btn btn-primary">Back</button>
          </form>
        }
        else if (Model is Kho)
        {
          var kho = Model as Kho;
          <form asp-action="EditAnother" method="post">
            <div class="mb-3">
              <label class="form-label" for="basic-icon-default-fullname">Tên kho</label>
              <div class="input-group input-group-merge">
                <input type="text" class="form-control" id="basic-icon-default-fullname"
                  aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" asp-for="@kho.TenKho"/>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="basic-icon-default-company">Địa chỉ</label>
              <div class="input-group input-group-merge">
                <input type="text" id="basic-icon-default-company" class="form-control"
                  aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" asp-for="@kho.DiaChi" />
              </div>
            </div>

            <div class="card">
              <h5 class="card-header">Danh sách trái cây đang chứa</h5>
              <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th>Tên trái cây</th>
                      <th>Số lượng</th>
                      <th>Đơn vị tính</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                  </tbody>
                </table>
              </div>
            </div>
            <div style="margin-bottom: 20px;"></div>
            <button id="saveBtn" type="submit" class="btn btn-primary" >Lưu</button>
            <button id="backBtn" type="submit" asp-action="Index" class="btn btn-primary">Back</button>
          </form>
        }
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('editBtn').addEventListener('click', function(event) {
    var idNhanVien = this.getAttribute('data-id');
    console.log(idNhanVien);
    // Chuyển hướng đến trang "Edit" và gửi thêm tham số idNhanVien
    window.location.href = '/Kho/Edit?id=' + idNhanVien;
  });
</script>

@section PageStyles{
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
          $('.edit-button').on('click', function(e) {
              e.preventDefault();
              console.log("asdasd");
              var row = $(this).closest('tr');
              row.find('.view-mode').hide();
              row.find('.edit-mode').show();
          });

          $('.delete-button').on('click', function(e) {
            var id = $(this).data('id');
            $.ajax({
                url: '/Kho/DeleteChiTietKho',
                type: 'POST',
                data: {
                    id: id
                },
                success: function(response) {
                      alert("Xoá thành công");
                      window.location.reload();
                },
                error: function(xhr, status, error) {
                    alert("Xoá không thành công");
                }
            });
          });
          $('.cancel-button').on('click', function() {
              var row = $(this).closest('tr');
              row.find('.edit-mode').hide();
              row.find('.view-mode').show();
          });

          $('.save-button').on('click', function() {
              var row = $(this).closest('tr');
              var id = row.data('id');
              var trangthai = row.find('input:eq(0)').val();
              console.log(id);
              $.ajax({
                  url: '/Kho/EditChiTietKho',
                  type: 'POST',
                  data: {
                      id: id,
                      soluong: trangthai
                  },
                  success: function(response) {
                        row.find('.view-mode').show();
                        row.find('.edit-mode').hide();
                        alert("Chỉnh sửa thành công");
                        window.location.reload();
                  },
                  error: function(xhr, status, error) {
                      alert("Chỉnh sửa không thành công");
                  }
              });
          });
      });
  </script>
}
