@{
  ViewData["Title"] = "Chi tiết";
  var nhaCungCap = ViewData["nhaCungCap"] as NhaCungCap;
  var traiCay = ViewData["traiCay"] as TraiCay;
}

@* ************** Content ************** *@
<!-- Basic Layout -->
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <h5 class="card-header">Chi tiết nhà cung cấp</h5>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-fullname">Tên nhà cung cấp</label>
            <div class="input-group input-group-merge">
              <input type="text" class="form-control" id="basic-icon-default-fullname" value="@nhaCungCap.TenNhaCungCap"
                aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" readonly/>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Địa chỉ</label>
            <div class="input-group input-group-merge">
              <input type="text" id="basic-icon-default-company" class="form-control" value="@nhaCungCap.DiaChi"
                aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" readonly />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Số điện thoại</label>
            <div class="input-group input-group-merge">
              <input type="text" id="basic-icon-default-boPhan" class="form-control" value="@nhaCungCap.Sđt"
                aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" readonly />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Trái cây</label>
            <div class="input-group input-group-merge">
              <input type="text" id="basic-icon-default-status" class="form-control" value="@(traiCay != null ? traiCay.TenTraiCay : "")"
                aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" readonly />
            </div>
          </div>
          <button id="editBtn" type="button" class="btn btn-primary" data-id="@nhaCungCap.MaNhaCungCap">Edit</button>
          <button id="saveBtn" type="submit" asp-action="Index" class="btn btn-primary">Back</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('editBtn').addEventListener('click', function(event) {
    var idNhanVien = this.getAttribute('data-id');
    console.log(idNhanVien);
    // Chuyển hướng đến trang "Edit" và gửi thêm tham số idNhanVien
    window.location.href = '/DoanhNghiep/Edit?id=' + idNhanVien;
  });
</script>
